.sidebar{
    background:rgb(165, 182, 182);
    float: left;
    width: 250px;
    text-align: center;
    height: 100vh;
    
    }
    .sidebar li{
    display: block;
    margin: 0;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    }
.navbar{
    background-color: rgb(85, 113, 133);
}
